@charset "utf-8";

body{
font-family: 'Lora', serif;
size:15px;
}

#container{
width:100%;

}

#top-header{
background-color:#ccff33;
height:50px;
text-align:center;
}



#navigation{
background-color:#ff8000;
text-align:center;
height:100px;
width:100%
}



#sidebar1{
	
text-align:center;
background-color:#0FF;
float:left;
height:400px;
width:350px;
}

#sidebar2{
	
text-align:center;
background-color:#0FF;
float:right;
width:350px;
height:400px;
}


#content_section{

background-color:#3d5c5c;
height:400px;
text-align:center;

}



#footer{
text-align:center;
background-color:green;
height:50px;
float:center;
}